---
import Header from "../../components/Header.astro";
import Layout from "../../layout/Layout.astro";
import { databases } from "../../lib/appwrite";
import { Card } from "../../components/Card";
import { Query } from "appwrite";
import { Image } from 'astro:assets';
const { documents: posts } = await databases.listDocuments(
  import.meta.env.PUBLIC_APPWRITE_DATABASE_ID,
  import.meta.env.PUBLIC_APPWRITE_COLLECTION_ID,
  [Query.orderDesc("$createdAt")],
);
---

<Layout>
  <Header />
  <div class="flex-1">
    <h1
      class="text-4xl lg:text-6xl font-bold mx-auto w-fit flex gap-4 items-center font-headings"
    >
      <Image src="/images/blog.webp" class="h-40" width={160} height={160}  alt="Last posts"/>Ostatnie posty
    </h1>
    <ul class="w-full">
      {
        posts.map((post) => {
          return <Card post={post} client:only="react" />;
        })
      }
    </ul>
  </div>
</Layout>
