---
// Component Imports
import Header from '../components/Header.tsx'
import Hero from '../components/Hero'
import Content1 from '../components/Content1.tsx'
import Content2 from '../components/Content2.tsx'
import Contact from '../components/Contact'
import Footer from '../components/Footer'
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="pl" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Annie+Use+Your+Telescope&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Groomka Kalisz</title>
	</head>
	<body class="h-full w-full bg-gradient-to-b from-pink-50 from-0% via-pink-100 via-49% to-pink-200 to-100%">
		<Header />
			<Hero client:only/>
			<Content1 client:only />
				<Content2  client:only/>
				<Contact client:only/>
				<Footer client:only/>
	</body>
</html>
