---
// Component Imports
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Content1 from '../components/Content1.astro'
import Content2 from '../components/Content2.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import '@fontsource/annie-use-your-telescope';
import '@fontsource/abhaya-libre';
import BgAnimation from '../components/BgAnimation.astro'
---

<html lang="pl" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Groomka Kalisz</title>
	</head>
	<body class="h-full w-full bg-gradient-to-b from-pink-50 from-0% via-pink-100 via-49% to-pink-200 to-100% overflow-x-hidden">
		<BgAnimation />
		<Header />
			<Hero />
			<Content1 />
				<Content2  />
				<Contact />
				<Footer />
	</body>
</html>
