---
import Lottie from "./Lottie";
import { Image } from 'astro:assets';
import Motion from './Motion.tsx'
---

		<section
			class="flex flex-col max-w-full min-h-screen mx-10  lg:mx-30 lg:flex-row lg:items-center lg:justify-center"
			id="about"
		>
			<div class="flex relative flex-col mb-20 lg:mb-0">
				<Lottie src="/lottie/love.lottie" styles="w-full w-96 h-96 mb-10" client:only="react"/>
				<Image
					src="/images/dog.webp"
					alt="grooming dog"
					width={384}
					height={384}
					class="absolute top-3/4 -translate-y-10 size-56 xl:static xl:size-96 "
				/>
			</div>
			<Motion
				className="flex flex-col mt-20 lg:mt-0 lg:w-5/12 overflow-hidden"
				client:only="react"
				rotate={180}
				duration={1}
			>
				<div class="flex gap-5 py-1.5 text-rose-500 uppercase tracking-[6px]">
					<div class="shrink-0 my-auto h-0.5 bg-rose-500 w-[72px]" />
					<h2 class="flex-auto font-accent lg:text-xl">
						GROOMING TO PASJA
					</h2>
				</div>
				<h3 class="mt-3 text-5xl text-center font-accent">
					Luksusowa pielęgnacja z miłością!
				</h3>
				<p class="mt-7 leading-8 font-accent">
					Cześć wszystkim! Mam na imię Klaudia, i od zawsze jestem miłośniczką
					zwierząt. Z ogromną przyjemnością będę dbać o Wasze ukochane
					zwierzaki, zapewniając im profesjonalny i spokojny zabieg groomingowy.
					W mojej pracy podkreślam bezpieczeństwo i komfort zwierząt, dlatego
					zawsze stosuję metody bezstresowe i odpowiednie dla każdego
					indywidualnego pupila.
				</p>
			</Motion>
		</section>
