---
import { Image } from 'astro:assets';
import Lottie from "./Lottie.tsx";
import Motion from './Motion.tsx'
---
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById('toggle-container');
    if (!container) return;

    const img = document.querySelector('.toggle-image') as HTMLImageElement | null;
    const title = document.querySelector('.toggle-title') as HTMLElement | null;

    if (!img || !title) return;

    container.addEventListener('click', () => {
      const src = img.getAttribute('src') === '/images/tina1.webp' ? '/images/tina2.webp' : '/images/tina1.webp';
      const titleText = title.innerText === 'Przed' ? 'Po' : 'Przed';

      img.setAttribute('src', src);
      title.innerText = titleText;
    });
  });
</script>

    <section class="flex flex-col-reverse max-w-full mx-10 pt-36 min-h-screen lg:mt-0 lg:mx-30 lg:flex-row-reverse lg:items-center justify-center lg:min-h-screen sm:items-center" id="animals">
      <div class="flex flex-col cursor-pointer mt-24 max-w-screen relative overflow-visible" id="toggle-container">
        <div class="absolute w-fit top-0 left-1/2">
          <Lottie src="/lottie/click.lottie" styles="absolute -translate-x-1/2 -translate-y-1/2 w-40 h-40 z-[1]" client:idle/>
          <p class="toggle-title absolute top-3/4 left-1/2 -translate-x-1/2 -translate-y-1/2 font-headings text-slate-100 text-4xl select-none z-[2]">Przed</p>
        </div>
        <div class="absolute w-full h-96 overflow-hidden">
          <Lottie src="/lottie/click2.lottie" styles="absolute w-[550px] lg:w-[500px] lg:translate-x-[20%] translate-y-[65%] lg:translate-y-[85%] " client:idle/>
        </div>
        <Image
          src="/images/tina1.webp"
          alt="grooming dog"
          width={384}
          height={384}
          class="toggle-image size-96 rounded-md"
        />
      </div>
      <Motion className="flex flex-col lg:mt-0 lg:w-5/12 lg:mx-10 transition-all" client:only="react" scale={0} duration={0}>
        <div class="flex gap-5 py-1.5 text-pink-600 uppercase tracking-[6px]">
          <div class="shrink-0 my-auto h-0.5 bg-pink-600  w-[72px]" />
          <h2 class="font-accent text-sm lg:text-xl font-bold">
            ODŚWIEŻENIE, KTÓRE SPRAWIA RADOŚĆ
          </h2>
        </div>
        <h3 class="mt-3 text-5xl text-center font-accent">
          Nowa Fryzura, Szczęśliwy Piesek
        </h3>
        <p class="mt-7 leading-8 font-accent text-justify	">
          Każdy właściciel psa wie, jak ważna jest odpowiednia pielęgnacja
          czworonożnego przyjaciela. Nic tak nie poprawia nastroju pupila, jak
          profesjonalnie wykonana, odświeżona fryzura. Nasze usługi groomingu
          gwarantują nie tylko estetyczny wygląd, ale również zdrowie i komfort
          Twojego psa. Zaufaj naszym ekspertom i zobacz, jak zadowolony i pełen
          energii może być Twój piesek po wizycie u nas!
        </p>
      </Motion>
    </section>