---
import { Image } from 'astro:assets';
---
		<footer class="w-full bg-slate-50 font-accent">
			<section class="flex gap-5 max-md:flex-col max-md:gap-0">
				<div class="flex flex-col w-3/5 max-md:ml-0 max-md:w-full">
					<p class="self-stretch my-auto text-2xl text-center text-black">
						2024 @Groomka - Salon Pielęgnacji Zwierząt Kalisz
					</p>
				</div>
				<div class="flex flex-col ml-5 w-2/5 max-md:ml-0 max-md:w-full">
					<div class="flex grow gap-0 justify-center items-center  px-1.5 py-2.5 text-2xl text-center text-black">
						<div>
							Designed by: <span class="font-bold">Vertira</span>
						</div>
						<a href="https://github.com/vertira">
							<Image
								width={42}
								height={42}
								src="/images/github.svg"
								class="shrink-0 mx-3 aspect-[0.88] w-[42px]"
								alt=""
							/>
						</a>
					</div>
				</div>
			</section>
		</footer>

