---
import Icon from "./Icon";
import { Image } from "astro:assets";
---

<nav
  class="flex flex-col md:flex-row md:justify-between max-w-full items-center"
>
  <a href="/"
    ><Image
      src="/images/Logo.webp"
      alt="logo"
      class="md:ml-5 md:mt-5 aspect-[1.96]"
      loading="eager"
      width={200}
      height={130}
    /></a
  >
  <div class="flex flex-row max-w-full justify-center flex-wrap md:justify-end md:mr-10">
    <Icon title="Blog" href="/posts/new" aria="Blog section" client:load />
    <Icon title="O Nas" href="#about" aria="About us section" client:load />
    <Icon
      title="Zwierzaki"
      href="#animals"
      aria="Animals section"
      client:load
    />
    <Icon title="Kontakt" href="#contact" aria="Contact section" client:load />
  </div>
</nav>
